@font-face {
	font-family: 'AkzidenzGroteskBE-Md';
	src: url('AkzidGroBEMd.eot'),
		 url('AkzidGroBEMd.woff') format('woff'),
		 url('AkzidGroBEMd.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}
